h1{
color: #0b4769;
text-align: center;
    /* hello */
}


body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8;
	font-size: 16px;
	background: #fff;
	color: #848484;
	font-weight: 300;
	overflow-x: hidden; /*clip the content and no scrolling mechanism is provided horizontally(x)*/
}

.animated-header {
    animation: scroll-left 5s linear infinite;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }


.website_logo{

max-height: 100px;

max-width: 400px;

min-height: 100px;

min-width: 300px;

align-self: left;

display: inline-block;

margin-top: 0.1in;

/* margin-left: -400px; */

width: 40%;

padding-left: -100%;
}

.website_photo{
float: right;
width: 130px;
margin-top: 30px;
margin-right: 100px;
}

 
.topbar {
    background-color: white;
    color: #ffffff;
    position: fixed;
    overflow: hidden;
    min-height: 40px;
    width: 100%;
    max-width: 100%;
    /* display: flex; */
    align-items: flex-start;
    margin-top: -30px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 1000;
}


@media screen and (max-width: 700px) {
    
    .topbar {
        float: none;
        width: 100%;
        height: 290px;
        margin-right: 30px;
        margin-top: -32px;
        margin-bottom: -12px;
      }
      .GradeTable{
        font-size: 12px;
      }

      .animated-header
      {
        margin-top: 80px;
        font-size: 30px;
      }


      .website_logo{
            margin-top: 32px;
            margin-left: auto;
            height: 50%;
            width: 50%;
            float: right;
            align-self: center;
            display: block;
        }
        .website_photo{
            opacity: 0%;
            }
            .animated-image{
               
                height: 30px;
                width: 20px;

            }

            .socialMedia_logo{
              
                   list-style: square;
            }
            .social-icons{
                line-height: 0.4px;
                width: 30px;
                /* height: 40px; */
            }
            .Aboutcolumn{

                display: flow-root;
            }           
  }

  .grid {
    color: black;
    margin: 5% 30% 5% ;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
  }

/* nav bar */
a {
	color: #0b4769;
}

a:link {
	text-decoration: none;
	}
  
  a:visited {
	text-decoration: none;
  }
  
  a:hover {
	color: #8f99d1;
	text-decoration: none;
  }
  
  a:active {
	text-decoration: underline;
  }

ul {
	width: 100%;
	text-align: center;
}

 li {          /*   MENU */
    text-align: left;
	margin: 0.8ch;
	min-width: 100px;
    max-width: 200px;

	display: inline-block;
}



/* education  */

.GradeTable{
    margin: 0px auto;
    border: rgb(4, 70, 50) solid;
padding: 10px;
border-collapse: separate;
text-indent: initial;
border-spacing: 2px;
}

.GradeTable thead{
    background-color: rgb(4, 70, 50);
color: blanchedalmond;
}




.galery{
    text-align: center;

    
}


.project-list {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    text-align: right;
    max-width: 1200px;
    padding: 0;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.project-list li {
    display: inline-block;
    width: 220px;
    margin: 0px 80px 40px;
    margin-top: 5px;

    display: list-item;
 }
.project-list li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #ddd;
}
.project-list .details {
    margin-top: 3px;
    text-align: center;
}
.project-list .details .project-type {
    display: block;
    color: #717171;
    font-size: 15px;
     font-weight: normal;
    text-align: center;
    margin: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}




.buttonMore{
   background-color: transparent;
    color: black;
    font-size: 20px;
    border: 2px solid #385558; /* Green */
}


/*     about me      */


.Aboutcolumn{
    display: inline-flex;
    margin-top: 10px;
}

h4{
    color: rgb(0, 1, 37);
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* contact */


.contact {
    border-radius: 22px;
    background-color: #afcbeb;
    padding: 120px;
    width: auto;
    color: rgb(41, 46, 46);
  }

  .animated-image {
    animation: spin 1s linear ;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .column-a {
    
    box-sizing: border-box;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    margin: auto;
    position: relative; /*doesnt change layout around contrairement a absolute*/
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }




   .socialMedia_logo{

/* padding: 0; */

width: 80px;

height: 80px;

list-style: none;

}

